
<br><br><br>
<div class="center-block" id="fondo">
  <br>
  <br>
  <br>
  <h2 class="text-center" style="color: white; font-weight: lighter;">Log in</h2>
  <br>
  <form class="form-horizontal" action="agenda.html">
    <div class="form-group">
      <div class="col-md-2 col-md-offset-5">
        <input type="text" class="form-control center-block" placeholder="Usuario" style="background-color: transparent; color: white; text-align: center; border: 2px solid white;">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2 col-md-offset-5">
        <input type="password" class="form-control" placeholder="Contraseña" style="background-color: transparent; text-align: center; border: 2px solid white;">
      </div>
    </div>
    <li><%= link_to "Login", appointments_Agenda_path, :class => 'btn btn-xs btn-primary center-block' %></li>
  </form>
</div>
